body {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_1280.png");
}

.container {
  margin: 0 auto;
  width: 600px;
  height: 100%;
  color: cyan;
  font-size: 40px;
}

.time-container {
  color: red;
  text-shadow: 0.1em 0.1em 0.18em yellow;
}

#text {
  font-size: 40px;

}
.score-container {
  font-family: 'Montserrat', sans-serif;
  color: blue;
  text-shadow: 0.1em 0.1em 0.18em white;
}

.timeSpan {
  font-size: 5px;
}

#timeSpanx{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 5vw;
}